<div class="container-fluid" >
  <div class="body">
    <div class="container">
      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <h2 class="pt-5 pb-5"><i class="fas fa-phone-square-alt" style="font-size: 2rem;"></i> Contact</h2>
          <div class="card_content">
            <div class="row">
              <div class="col-0 col-md-5">
                <p>
                  <span class="header" >Address</span> <br>
                  <span class="details">
                    Chateau In Town Ratchada 13-1 No.<br>
                    478/75 Soi Ratchadaphisek 13,<br>
                    Ratchadaphisek Road,<br>
                    Din Daeng District, Bangkok 10400
                  </span>
                </p>
              </div>
              <div class="col-12 col-md-7">
                <span class="header">Contact Me</span> <br>
                <span class="details">
                  <a rel="noreferrer" href="tel:+66629641469" target="_blank" hreflang="th"><i
                      class="fas fa-phone-square-alt"></i></a> 095-415-2751 <br>
                  <a class="list_social" rel="noreferrer" href="mailto:ist5614110038@gmail.com" target="_blank"
                    hreflang="th"> <i class="far fa-envelope"></i></a> ist5614110038@gmail.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>