.example-card {
    padding: 1rem 0rem 0 0;
    background: #f4ece6;
    z-index: 300;
    text-align: center;
    width: 90%;
    margin: 2rem auto 0 auto;
    margin-top: 10vh;
    @media screen and (min-width: 700px) {
        margin: 1rem 1rem;
        background: #f4ece6;
        z-index: 300;
        text-align: center;
        margin-top: 30%;
        margin-left: 26%;
        position: absolute;
        width: 80%;
    }
}
.list_social {
    color: black!important;
}

.row {
    height: auto;
    @media screen and (min-width: 500px) {
        height: 120vh;
    
    }
}
.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}
.content_me {
    margin-top: 20vh !important;
    padding: 1rem !important;
    // color: darkred;
    @media screen and (min-width: 500px) {
        padding: 3rem !important;
        margin-top: 40% !important;
        padding: 1rem;
    }
}
.conten_aboutme {
    background-color: #e6dace;
    height: 80vh;
    z-index: 100;
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: -20vh !important;
    display: block;
}
.conten_aboutme_notmobile {
    background-color: #e6dace;
    height: 80vh;
    z-index: 100;
    font-size: 1.1rem;
    display: block;
    font-weight: 100;
    margin-top: -20vh !important;
    background-color: #e6dace;
    height: auto;
    @media screen and (min-width: 700px) {
        background-color: white;

        z-index: 100;
        font-size: 1.1rem;
        font-weight: 100;
        margin-top: 0vh !important;
        height: 100%;
    }
}
.div_img {
    background-color: white;
    height: auto;
    @media screen and (min-width: 700px) {
        height: 100%;
        background-color: #e6dace;
    }
}
.ml-auto {
    padding: 0rem;
    @media screen and (min-width: 700px) {
        padding: 4rem;
    }
}
.img_profile {
    width: 20vw;
    height: 24vw;
    margin: auto;
    border-radius: 28vw;
    display: block;
}

.footer_card {
    display: none;
    @media screen and (min-width: 700px) {
        background-color: white;
        padding: 0.5rem;
        border-radius: 0 0 4px 4px;
        display: block;
    }
}

.fab,
.fas,
.far {
    font-size: 1.4rem !important;
    margin: 0.5rem;
    cursor: pointer;
}

.fab:hover,
.fas:hover,
.far:hover {
    color: #40407d;
}


a:hover{
    text-decoration: none;
    color: wheat;
}


.header {
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
}
.details {
    font-size: 0.8rem;
    font-weight: 100;
    display: block;
}
