<div class="container">
  <div class="row m-auto">
    <div class="col-12 col-md-6 m-auto p-0 div_img">
      <mat-card class="example-card">
        <img class="img_profile" src="../../../assets/image_banner/me.png"
          alt="Photo of a Shiba Inu">
        <mat-card-content class="mt-4">
          <h2>Tanisorn Juprasert</h2>
        </mat-card-content>
        <mat-card-actions>
  
          <a mat-button class="btn_df" rel="noreferrer" [routerLink]="'/resume'">RESUME</a>
          <a mat-button class="btn_df" rel="noreferrer" [routerLink]="'/projects'">PROJECT</a>
        </mat-card-actions>
        <div class="footer_card">
          <a class="list_social" rel="noreferrer" href="https://github.com/meanzza123" target="_blank" hreflang="th"> <i class="fab fa-github"> </i></a>
          <a class="list_social" rel="noreferrer" href="https://www.facebook.com/tanisorn.juprasert" target="_blank" hreflang="th"> <i class="fab fa-facebook"></i></a>
          <a class="list_social" rel="noreferrer" href="mailto:ist5614110038@gmail.com" target="_blank" hreflang="th"> <i class="far fa-envelope"></i></a>
          <a class="list_social" rel="noreferrer" href="tel:+66629641469" target="_blank" hreflang="th"><i class="fas fa-phone-square-alt"></i></a>
        </div>
      </mat-card>
  
    </div>
    <div class="col-12 col-md-6 m-auto p-0 conten_aboutme_notmobile">
      <mat-card-content>
        <p class="content_me">
          web devloper 2+ years of experience in develop web e-commerce , game and business solutions<br> for diverse industry
          clients.<br>
          Successful in develop solutions,
          where excellent analytical and technical skills can be utilized to improve the company’s profitability
        </p>
      </mat-card-content>
    </div>
  
  </div>
</div>