
<div class="container-fluid">

  <div class="body">
    
    <div class="container">
   
      <h2 class="pt-5 pb-5"><i class="far fa-folder-open"></i> Project</h2>
      <div class="row">
        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Reward Jet</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/banner_reward-jet.png" alt="Reward Jet">
          </mat-card>
        </div>

        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Reward Flip Renew</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/flip_new_TH.jpg" alt="Reward Flip Renew">
          </mat-card>
        </div>


        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Reward Wars</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/reward_TH.jpg" alt="Reward War">
          </mat-card>
        </div>


        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Surprise Points</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/AW_30th_AIS_TH.jpg" alt="Surprise Points">
          </mat-card>
        </div>




        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Reward Tune</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/tune_th.jpg" alt="Surprise Tune">
          </mat-card>
        </div>


        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Mission Checkin</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/mission_en_new.jpg" alt="Mission Checkin">
          </mat-card>
        </div>
        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Portal Ais</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/game-portal_header.png" alt="Portal Ais">
          </mat-card>
        </div>


        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Reward Flip</mat-card-title>
              <mat-card-subtitle>In app Myais</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/image_banner/flip_th.jpg" alt="Reward Flip">
          </mat-card>
        </div>

        <div class="col-md-4 pt-5 pb-5">
          <mat-card class="project-card">
            <mat-card-header>
              <mat-card-title>Carrent</mat-card-title>
              <mat-card-subtitle>E-comerce</mat-card-subtitle>
            </mat-card-header>
            <a href="https://twentyninecarrent.com" rel="noreferrer" target="_blank" target="_blank" hreflang="th">
              <img mat-card-image src="../../../assets/image_banner/carrent_renew.png" alt="Twentynine Carrent"></a>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>