<div class="container-fluid">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="row">
        <div class="col-9 col-md-7">
          <span style="font-size: 12px;line-height: normal !important;">Tanisorn Juprasert (Mean)</span>
        </div>
        <div class="col-2 col-md-2 btn_toggle">
          <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
        </div>
        <div class="col-1 col-md-5 d-flex justify-content-end">
          <div class="list_menu_navbar">
            <a mat-button rel="noreferrer" [routerLink]="'/about-me'"> ABOUT ME </a>
            <a mat-button rel="noreferrer" [routerLink]="'/resume'"> RESUME </a>
            <a mat-button rel="noreferrer" [routerLink]="'/projects'"> PROJECTS </a>
            <a mat-button rel="noreferrer" [routerLink]="'/contact'"> CONTACT </a>
          </div>
        </div>

      </div>


    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item rel="noreferrer" hreflang="th" [routerLink]="'/about-me'" (click)="sidenav.toggle()">
          ABOUT ME </a>
        <a mat-list-item rel="noreferrer" hreflang="th" [routerLink]="'/resume'" (click)="sidenav.toggle()">
          RESUME </a>
        <a mat-list-item rel="noreferrer" hreflang="th" [routerLink]="'/projects'" (click)="sidenav.toggle()">
          PROJECTS </a>
        <a mat-list-item rel="noreferrer" hreflang="th" [routerLink]="'/contact'" (click)="sidenav.toggle()">
          CONTACT </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 120%;margin-bottom: 6rem;margin-top: 10vh;">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>




</div>

