.body {
    background: #e6dace;
    height: auto;
    padding-bottom: 10vh;
    text-align: center;
    margin-top: 10vh;
    .card_content {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        background-color: white;
        padding: 1.4rem;
        text-align: left;
    }
}
.far {
    font-weight: 300;
    color: #5555a5;
}
.header_year {
    color: #5555a5;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}
.header {
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
}
.details {
    font-size: 0.8rem;
    font-weight: 100;
    display: block;
}

.header_name {
    font-weight: bold;
    font-size: 1.1rem;
    display:inline-block;
}
.details_name {
    font-size: 0.8rem;
    font-weight: 100;
    display:inline-block;
}
