<div class="container-fluid">
  <div class="body">
    <div class="container">

      <!-- <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <h2 class="pt-5 pb-5"><i class="far fa-address-card "></i> Resume</h2>
          <h3 class="d-flex justify-content-start">Objective
          </h3>
          <div class="card_content">
            <span class="details">looking for a position Front-end or full stack Web developer. </span>
          </div>
        </div>
      </div> -->


      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <h2 class="pt-5 pb-5"><i class="far fa-address-card "></i> Resume</h2>
          <h3 class="d-flex justify-content-start">Personal Information
          </h3>
          <div class="card_content">
            <span class="header_name"> Name : <span class="details_name">
                Tanisorn Jupraert
              </span>

            </span> <br>
            <span class="header_name"> Birth Date : <span class="details_name">
                3 November 1993 ( 27 years old.)
              </span>
            </span><br>

            <span class="header_name"> Nationality :
              <span class="details_name">
                Thai
              </span>
            </span><br>
            <span class="header_name"> Religion :
              <span class="details_name">
                Buddhism
              </span>
            </span><br>

            <span class="header_name"> Interest and Activities :
              <span class="details_name">
                programming,cooking,jogging,Watching series
              </span>
            </span><br>
          </div>
        </div>
      </div>


      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <h3 class="d-flex justify-content-start">Experience</h3>
          <div class="card_content">
            <p><span class="header_year">2020 - Present</span></p>
            <div class="row">
              <div class="col-0 col-md-5">
                <p>
                  <span class="header">JOB POSITION<br>
                    <span class="details">Web Developer</span>
                  </span>

                </p>
                <p>
                  <span class="header">Company Name<br>
                    <span class="details">Wisdom Vast Co., Ltd.</span>
                  </span>
                </p>

                <p>
                  <span class="header">Company Location<br>
                    <span class="details">103 Ratchaphruek Rd,<br> Bang Khun Kong,<br> Bang Kruai District,<br> Chang
                      Wat
                      Nonthaburi 11130</span>
                  </span>

                </p>


              </div>
              <div class="col-12 col-md-7">
                <span class="header">Job Description<br>
                  <span class="details">
                    (Ais Gamification,bumrungrad App)<br>
                    - develop and integrate gameflow<br>
                    - Pentest-VA build on production<br>
                    - experience in frontend code from ui</span> <br>
                  <span class="header">Programming Languages<br>
                    <span class="details">
                      - Angular,Javascript,Typescript,Mongodb
                    </span>
                  </span>

                </span>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <div class="card_content">
            <p><span class="header_year">2019</span></p>
            <div class="row">
              <div class="col-0 col-md-5">
                <p>
                  <span class="header">JOB POSITION<br>
                    <span class="details">Web Developer</span>
                  </span>

                </p>
                <p>
                  <span class="header">Company Name<br>
                    <span class="details">Headquarter Successmore Being Pub Co., Ltd.</span>
                  </span>

                </p>

                <p>
                  <span class="header">Company Location<br>
                    <span class="details">10/1-2 Ratchadapisek Road,<br> Chatuchak
                      sub-district,<br> Chatuchak district,<br> Bangkok 10900</span>
                  </span>
                </p>



              </div>
              <div class="col-12 col-md-7">
                <span class="header">Job Description<br>
                  <span class="details">
                    (successmore1.com / Backoffice)<br>
                    - develop e-commerce <br>
                    - edit/add function <br>
                    - report page
                  </span>
                </span><br>

                <span class="header">Programming Languages<br>
                  <span class="details">
                    - Php, .Net ,Javascript, CSS, SQL
                  </span>
                </span> <br>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <div class="card_content">
            <p><span class="header_year">2017-2018</span></p>
            <div class="row">
              <div class="col-0 col-md-5">

                <p>
                  <span class="header">Job Position<br>
                    <span class="details">Web Developer</span>
                  </span>

                </p>
                <p>
                  <span class="header">Company Name<br>
                    <span class="details">Phuket ATV Tour Co., Ltd.</span>
                  </span>
                </p>

                <p>
                  <span class="header">Company Location<br>
                    <span class="details">59/26 Moo 5,<br> Si Sunthon Thalang phuket 83110</span>
                  </span>

                </p>
              </div>
              <div class="col-12 col-md-7">
                <span class="header">Job Description<br>
                  <span class="details">
                    (yecthai.com,atvphuket.com)<br>
                    - develop e-commerce<br>
                    - edit function <br>
                    - add function <br>
                  </span>
                </span>
                <span class="header">Programming Languages<br>
                  <span class="details">
                    - Php,Javascript,CSS, Mysql
                  </span> <br>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <h3 class="d-flex justify-content-start">Educations</h3>
          <div class="card_content">
            <span class="header"> Bachelor's degree<br>
              <span class="details">
                Bachelor of Science (IT)<br>
                Mahanakorn University of Technology,<br>
                Thailand 2014 - 2017,GPA 2.26
              </span>
            </span><br>
            <span class="header">High School<br>
              <span class="details">
                TOURISM INDUSTRY COLLEGE<br>
                Phuket technology college | 2010 - 2013
              </span>
            </span>
          </div>
        </div>
      </div>


      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <h3 class="d-flex justify-content-start">Soft Skill</h3>
          <div class="card_content">
            <span class="details">
              - Communication<br>
              - Adaptability<br>
              - Collaboration<br>
              - Analytic Thinking and Decision-making<br>
              - Creativity<br>
              - Time Management<br>
              - Life-Long Learning
            </span>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center pb-5">
        <div class="col-12 col-md-8">
          <h3 class="d-flex justify-content-start">Hard Skill</h3>
          <div class="card_content">

            <span class="header"> Javascript frontend / backend<br>
              <span class="details">
                Frontend<br>
                - Angular Framework<br>
                - React(Lerning)
                <br>Backend<br>
                - nodejs (Rest Api)
              </span>
            </span><br>
            <span class="header"> Php<br>
              <span class="details">
                - Laravel
              </span>
            </span>

            <br>
            <span class="header"> .Net<br>
              <span class="details">
                - .Net Framework
              </span>
            </span>

            <br>
            <span class="header"> Database<br>
              <span class="details">
                RDBMS<br>
                - Sql Mysql<br>
                NOSQL<br>
                - Mongo Db
              </span>
            </span>

            <br>
            <span class="header"> Options tool<br>
              <span class="details">
                - Progressive Web Apps<br>
                - SEO Friendly<br>
                - ci/cd circleci / Github<br>
                - google analytics [track event]
              </span>
            </span>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>